MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me
FLASK_SECRET_KEY=change-me
COOKIESIGNINGKEY=change-me
REDIS_URL=redis:6379
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
adminMail = <email of your admin>
adminPassword=<bcrypt hash of your admin password>
juryMail1 = <Mail of your first Jury Member>
juryPassword1=<bcrypt hash>
juryMail2 = <Mail of your second Jury Member>
juryPassword2=<bcrypt hash>
juryMail3 = <Mail of your third Jury Member>
juryPassword3=<bcrypt hash>
EuroMailURL = <URL to EuroMail>
RESEND_API_KEY = <Resend API Key>
JWT_SECRET=<openssl rand -hex 32>
