MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me
FLASK_SECRET_KEY=change-me
COOKIESIGNINGKEY=change-me
adminMail = <email of your admin>
adminPassword=<bcrypt hash of your admin password>
juryMail1 = <Mail of your first Jury Member>
juryPassword1=<bcrypt hash>
juryPassword2=<bcrypt hash>
juryMail2 = <Mail of your second Jury Member>
juryPassword3=<bcrypt hash>
juryMail3 = <Mail of your thired Jury Member>
EuroMailURL = <URL to EuroMail>
resendApiKey = <Resend API Key>
