MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me
FLASK_SECRET_KEY=change-me
COOKIESIGNINGKEY=change-me
adminPassword=<bcrypt hash of your admin password>
juryPassword1=<bcrypt hash>
juryPassword2=<bcrypt hash>
juryPassword3=<bcrypt hash>
