NODE_ENV=development
USE_MOCK=true
API_BASE_URL=http://db-crud-api:8000
API_TIMEOUT=10000
ESC_CONVERTER_URL=http://public-vote-converter:8090
EUROSTATS_URL=http://eurostats:8880
PORT=3001
SESSION_SECRET=change-me-in-production
TOTAL_VOTE_POINTS=20

